[submodule "docs/api/binance-api-postman"]
	path = docs/api/binance-api-postman
	url = https://github.com/binance/binance-api-postman.git
[submodule "docs/api/binance-spot-api-docs"]
	path = docs/api/binance-spot-api-docs
	url = https://github.com/binance/binance-spot-api-docs.git
