[submodule "docs/api/binance-api-postman"]
	path = docs/api/binance-api-postman
	url = https://github.com/binance/binance-api-postman.git
[submodule "docs/api/binance-spot-api-docs"]
	path = docs/api/binance-spot-api-docs
	url = https://github.com/binance/binance-spot-api-docs.git
[submodule "deps/glaze"]
	path = deps/glaze
	url = https://github.com/stephenberry/glaze.git
[submodule "deps/CLI11"]
	path = deps/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "deps/FTXUI"]
	path = deps/FTXUI
	url = https://github.com/ArthurSonzogni/FTXUI.git
